/*Add fonts here*/

body {
    background-color: #D7F2BA;
    color: #22333B;
}

/*Header*/
header {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    align-items: center;
    background-color: #CE7DA5;
    margin: -8px -8px 0 -8px; 
}

h1 {
    font-size: 3rem;
}

header a {
    font-size: 2rem;
    text-decoration: none;
    text-align: center;


}

/*Main content*/
#start-div, #game-div, #result-div {
    position: fixed;
    right:12.5%;
    left:12.5%;
    width: 75%;
    height: 75%;
    border: 2px solid black;
}

#start-div {
display: flex;
align-items: baseline;
flex-wrap: wrap;
justify-content: center;
}

#start-div p {
    text-align: left;
    width: 100%;
    font-size: x-large;
    text-align: center;
}

#game-div {
display: none;
text-align: center;
padding-top: 30px;
}


#game-div p {
    text-align: center;
}

#option-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#option-container button {
    font-size: large;
}

#flag {
    height: 40%;
    border: 2px solid black;
}

#result-div {
display: none;
}